.ask-question {
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 100px;
}

.question-label {
  font-size: 19px;
  font-family: Lora, serif;
}

.question-hint {
  color: rgb(245, 30, 16);
}

.profile-form {
  margin-top: 90px;
}

.profile-img {
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-color: thistle;
  border-width: 5px;
  border-radius: 50%;
  border-style: solid;
}

.user-profile-img {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-color: thistle;
  border-width: 5px;
  border-radius: 50%;
  border-style: solid;
}

.spinner-show {
  margin-top: 250px;
  margin-bottom: 100px;
  text-align: center;
}

.about-testimonial {
  margin-top: 100px;
  margin-left: 20px;
  text-align: center;
}

.all-user-card {
  margin-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.blog-text {
  margin-top: 250px;
  margin-bottom: 200px;
  text-align: center;
}

.tag-description {
  overflow: hidden; /* Essential */
  /*text-overflow: ellipsis; Not needed */
  line-height: 20px; /* Essential */
  max-height: 100px; /* Multiples of line-height */
}

.about-img {
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-color: lightblue;
  border-width: 5px;
  border-radius: 50%;
  border-style: solid;
}

.error-message {
  color: red;
}
